.dialogue {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  user-select: none;

  // .dialogue__character

  &__character {
    position: absolute;
    width: 256px;
    height: 256px;
    top: -210px;
    background-image: url('../assets/images/ui/dialogue/avatar-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;

    &--player {
      left: -42px;

      .dialogue__avatar {
        width: 200px;
        height: 200px;
        background-image: url('../assets/images/ui/dialogue/player-avatar.png');
      }

      .dialogue__name {
        left: 224px;
      }
    }

    &--npc {
      right: -42px;

      .dialogue__avatar {
        background-image: url('../assets/images/ui/dialogue/player-avatar.png');
      }

      .dialogue__name {
        right: 224px;
      }
    }

    &.disabled {
      z-index: -1;

      .dialogue__name {
        display: none;
      }
    }

    &--Benjamin {
      .dialogue__avatar {
        background-image: url('../assets/images/ui/dialogue/npc-benjamin-avatar.png');
      }
    }
  }

  // .dialogue__avatar

  &__avatar {
    width: 200px;
    height: 200px;
  }

  // .dialogue__name

  &__name {
    color: black;
    position: absolute;
    bottom: 0;
    height: 92px;
    padding: 24px 27px;
    background-image: url('../assets/images/ui/dialogue/name-left.png'),
      url('../assets/images/ui/dialogue/name-right.png'),
      url('../assets/images/ui/dialogue/name-center.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left, right, center;
    background-size: auto, auto, 80% 92px;
  }

  // .dialogue__shape

  &__shape {
    width: 1088px;
    padding: 52px 124px 52px 64px;
    background-image: url('../assets/images/ui/dialogue/dlg-shape-top.png'),
      url('../assets/images/ui/dialogue/dlg-shape-bot.png'),
      url('../assets/images/ui/dialogue/dlg-shape-mid.png');
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: top, bottom, center;
    display: flex;
    flex-direction: column;
  }

  // .dialogue__text

  &__text {
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &--answer {
      color: black;
      background-color: rgba(234, 212, 170, 1);
      align-self: flex-start;
      border-radius: 12px;
      padding: 8px;

      &:hover {
        background-color: rgba(234, 212, 170, 0.6);
      }
    }
  }

  // .dialogue__btn

  &__btn {
    position: absolute;
    bottom: 24px;
    right: 32px;
    width: 64px;
    height: 64px;
    background-image: url('../assets/images/ui/dialogue/btn-nxt-n.png');

    &:hover {
      background-image: url('../assets/images/ui/dialogue/btn-nxt-h.png');
    }
  }
}
