.game__loader-container {
  display: none;
  width: 80%;
}
.game__loader-text {
  color: white;
  font-family: 'Monogram';
  font-size: 56px;
}
.game__loader-bar {
  border: 4px solid #fefefeb2;
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
}

.game__loader-progress {
  background-color: white;
  width: 0;
  height: 12px;
}
