@import 'game';
@import 'game-menu';
@import 'game-loader';
@import 'game-setting';
@import 'game-menu-save';
@import 'game-menu-load';
// @import 'modal';

@font-face {
  font-family: 'Monogram';
  src: url('../fonts/monogram.ttf');
}

* {
  margin: 0;
  box-sizing: border-box;
  cursor: url('../assets/images/ui/cursor.png'), auto;
}

body {
  background-color: #141412;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Monogram';
  font-size: 48px;
  text-align: center;
}

*.disabled {
  pointer-events: none;
  filter: grayscale(1);
}
